---
interface Props {
  label: string;
  href?: string;
}
const {
    label,
    href
} = Astro.props;
---

<a href={href || "/"} class="flex items-center justify-center px-8 py-2 bg-amber-300 text-zinc-800 hover:bg-amber-400 font-normal transition-colors duration-300 w-auto mx-auto">
  {label}
</a>