---
import backgroundImage from '../assets/backgroundFooter.webp';
---

<section class="bg-black text-zinc-300 py-8">
    <div class="container w-11/12 max-w-6xl mx-auto gap-4 flex flex-col justify-center">
        <img src="/src/assets/logo.webp" alt="The Kabob Guy Logo" class="h-auto w-auto mx-auto" />
        <span class="font-semibold text-lg">CONTACT</span>
        <a href="#" class="underline">1234 Fire Forged Way Cuisine District, NY 10012</a>
        <a href="#" class="underline">+1 (555) 578 5490</a>
        <a href="#" class="text-amber-300 font-semibold underline">info@thekabobguy.com</a>
    </div>
</section>
<section style={`background-image: url(${backgroundImage.src});`} class="bg-cover bg-center bg-no-repeat h-50 border-t border-zinc-900">
    <div class="container flex w-11/12 mx-auto pt-16 justify-center">
        <p class="text-center text-white">&copy; {new Date().getFullYear()} The Kabob Guy. All rights reserved.</p>
    </div>
</section>