---
import Button from './Button.astro';
---

<header class="fixed w-full top-0 z-50 bg-black/50 backdrop-blur-sm">
    <nav class="">
        <div class="container max-w-6xl flex items-center justify-between mx-auto px-4 pb-4 pt-12">
            <a href="/"><img src="/src/assets/logoWeb.png" alt="The Kabob Guy Logo" class="h-10 w-auto" /></a>
            <!-- <ul class="flex space-x-4 items-center">
                <li><a href="/menu" class="text-zinc-50 hover:text-amber-300">Menu</a></li>
                <li><a href="/about" class="text-zinc-50 hover:text-amber-300">About</a></li>
                <li><a href="/contacto" class="text-zinc-50 hover:text-amber-300">Gallery</a></li>
                <li><a href="/contacto" class="text-zinc-50 hover:text-amber-300">Reservations</a></li>
                <Button label="Contact" href="/contact" />
            </ul> -->
        </div>
    </nav>
</header>