---

---
<section class="flex flex-col bg-black justify-center">
    <div class="container w-11/12 max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto py-32">

        <div class="w-11/12 align-center mx-auto md:w-auto flex flex-col justify-center text-zinc-200">
            <img src="./src/assets/logo.webp" alt="The Kabob Guy Logo" class="h-auto w-auto max-h-96 mx-auto" />
        </div>

        <div class="flex flex-col gap-4 text-zinc-200">
            <span class="flex text-md font-medium underline underline-offset-10 text-amber-300">OUR HERITAGE</span>
            <h2 class="text-3xl font-medium">From Flame to Plate</h2>
            <p class="text-md">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ut maiores quis perspiciatis rem consequatur illo beatae harum incidunt maxime dignissimos, minima similique accusantium sit ullam inventore. Beatae, nisi soluta.
            </p>

            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col gap-2">
                    <span class="text-amber-300 text-3xl font-bold">1,200</span>
                    <p class="text-sm">SEARING TEMP</p>
                </div>

                <div class="flex flex-col gap-2">
                    <span class="text-amber-300 text-3xl font-bold">48HR</span>
                    <p class="text-sm">MARINADE CYCLE</p>
                </div>
            </div>
        </div>
        
    </div>
</section>