---
import '../styles/global.css';

import SEO from '../components/SEO.astro';
import StructuredData from "../components/StructuredData.astro";
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  schema?: object;
}

const { title, description, canonical, schema } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
    title={title}
    description={description}
    canonical={canonical}
    />
    {schema && <StructuredData schema={schema} />}
  </head>

  <body class="font-family bg-black">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>