---
import '../styles/global.css';

import SEO from '../components/SEO.astro';
import StructuredData from "../components/StructuredData.astro";
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  schema?: object;
}

const { title, description, canonical, schema } = Astro.props;
---

<html lang="en">
  <head>
    <SEO
    title={title}
    description={description}
    canonical={canonical}
    />
    {schema && <StructuredData schema={schema} />}
  </head>

  <body class="font-family bg-black">
    <NavBar />
    <slot />
    <Footer />
  </body>

  <script>
    const setupFade = () => {
      const cards = document.querySelectorAll('.card-fade');

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove('opacity-0', 'translate-y-8');
            entry.target.classList.add('opacity-100', 'translate-y-0');

            observer.unobserve(entry.target);
          }
        });
      }, {
          threshold: 0.1,
          rootMargin: '0px 0px -50px 0px'
      })
      cards.forEach((card) => observer.observe(card));
    }
    setupFade();
  </script>
</html>