---
import Card from '../components/Card.astro';
import CardPrice from '../components/CardPrice.astro';

import plate1 from '../assets/plate1.png';
import plate2 from '../assets/plate1.png';
import plate3 from '../assets/plate1.png';
---
<section class="flex flex-col bg-zinc-950 justify-center py-32">
    <div class="container flex flex-col w-11/12 max-w-6xl gap-8 mx-auto">
        <div class="flex flex-col gap-4">
            <h2 class="text-center text-3xl font-medium text-zinc-50">The Fire-Forged Collection</h2>
            <p class="text-center text-zinc-300">Signatura skewers crafted for the discerning palate.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <Card title="Aged Wagyu Filet" description="Dry-aged for 28 days, glazed with pomegranate molasses and Aleppo pepper. Served over charred heirloom leeks." backgroundImage={{ src: plate1.src, alt: 'plate 1'}} />
    
            <Card title="Our Heritage" description="Persian saffron marinade, mint gremolata, and fire-roasted cherry tomatoes." backgroundImage={{src: plate2.src, alt: 'plate 2'}} />
    
            <Card title="Lonian Sea Harvest" description="Colossal prawns and diver scallops, lemon-oregano butter, smoked paprika." backgroundImage={{ src: plate3.src, alt: 'plate 3'}} />
    
            <Card title="Saffron Lamb Loin" description="Persian saffron marinade, mint gremolata, and fire-roasted cherry tomatoes." backgroundImage={{ src: plate2.src, alt: 'plate 2'}} />
        </div>        
    </div>
</section>